@mixin stickyFooter($contentSelector: '*:nth-child(1)', $footerSelector: '*:nth-child(2)'){

  // load flex if browser can't handle grid
  @supports not (grid-template-areas:"support"){
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    #{$contentSelector} {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }

  // load grid if browser supports it
  @supports (grid-template-areas:"support") {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

    #{$footerSelector} {
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

}